@use 'mixins' as *;
@use 'variables' as *;

%pic {
  object-fit: cover;
  object-position: center;
}

%bgi {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%resetInputsAndBtns {
  outline: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

%sizing {
  @include size(100%, auto);
  max-width: $xl-screen-size;
  margin-inline: auto;

  @include media_xxl {
    width: 90%;
  }
}
