$xxl-screen-size: 1400px;
$xl-screen-size: 1200px;
$lg-screen-size: 1000px;
$md-screen-size: 800px;
$sm-screen-size: 600px;
$xs-screen-size: 400px;

$primary1: #d3b89e;
$primary2: #292f36;
$primary3: #f4f0ec;
$primary4: #91ab95;
